<!DOCTYPE html>
<html>
<head>
  <title>ShoeSelector</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='login'>
    <% if current_user %>
      <%= current_user.email %>
      <%= link_to('Edit Account',     edit_user_registration_path(@user)) %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div> 

  <h1>Sole Selector</h1> 
</body>
</html>
