<!DOCTYPE html>
<html>
<head>
  <title>Shoe Selector™</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "lib/require", "data-main" => asset_url("application.js") %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" href="/assets/iphone-icon.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <% if current_user %>
    <header>
      <nav>
        <ul>
          <li class="shoes"><a class="link" href="/#products"><%= image_tag("search-icon.png") %></a></li>
          <li class="user-image"><a class="link" href="/#wishes"><%= image_tag current_user.image %></a></li>
          <li class="account">
            <%= link_to destroy_user_session_path, method: :delete do %> 
              <img src="/assets/log-out-icon.png">
            <% end %>
          </li>
        </ul>
      </nav>
    <div class="curve-bottom"></div>
    </header>
  <% end %>
  <%= yield %>
</body>
</html>
