<!DOCTYPE html>
<html>
<head>
  <title>Sole Selector™</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "lib/require", "data-main" => asset_url("application.js") %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <div class="login">
        <% if current_user %>
          <li><a href="/#products">Shoes</a></li>
          <li><a href="/#wishes">Wishlist</a></li>
          <li><%= current_user.name %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </div>
    </ul>
  </header>
  <%= yield %>
</body>
</html>
